body {
  line-height: 1.7;
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: "Noto Serif JP", serif;
  // font-family: "游ゴシック", "Noto Sans JP", sans-serif;
  // letter-spacing: 0.3em;
  a {
    color: #000;
  }
}
//flex系
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-ac {
  align-items: center;
}
.flex-jc {
  justify-content: center;
}
.flex-btw {
  justify-content: space-between;
}
.serif {
  font-family: "Noto Serif JP", serif;
}
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}

.yu {
  font-family: "游明朝", "Noto Sans JP", sans-serif;
}
.mv-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cmn-img {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  img {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover; object-position: bottom";
    -o-object-position: bottom;
    object-position: bottom;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
.breadcrumbs {
  font-weight: 500;
  display: flex;
  // margin-bottom: 50px;
  margin-top: 15px;
  a {
    color: #222;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  .breadcrumbs_list {
    span {
      color: #222;
    }
    margin-right: 10px;
    position: relative;
    &::before {
      content: "|";
      position: absolute;
      right: -8px;
      color: #222;
    }
    &:last-child {
      position: relative;
      &::before {
        display: none;
      }
    }
  }
}
.btn {
  display: block;
  box-sizing: border-box;
}
#pageTop {
  color: #fff;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 1;
}
#copyright {
  text-align: center;
}
a {
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
.relative {
  position: relative;
}
